header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

body {
    background-image: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
}